.elementor-210 .elementor-element.elementor-element-c3e7dd1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: stretch;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-210 .elementor-element.elementor-element-c3e7dd1:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-c3e7dd1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff0;
    background-image: radial-gradient(at bottom center, var(--e-global-color-secondary) 0%, var(--e-global-color-primary) 100%)
}

.elementor-210 .elementor-element.elementor-element-c3e7dd1,
.elementor-210 .elementor-element.elementor-element-c3e7dd1::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-6563ed9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --padding-top: 40px;
    --padding-bottom: 0px;
    --padding-left: 50px;
    --padding-right: 50px
}

.elementor-210 .elementor-element.elementor-element-6563ed9,
.elementor-210 .elementor-element.elementor-element-6563ed9::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-abe1ad0 {
    --display: flex;
    --justify-content: flex-start;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --border-radius: 15px 15px 15px 15px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px
}

.elementor-210 .elementor-element.elementor-element-abe1ad0:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-abe1ad0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-abe1ad0,
.elementor-210 .elementor-element.elementor-element-abe1ad0::before {
    --border-transition: 0.3s
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-210 .elementor-element.elementor-element-aa70978 img {
    width: 330px
}

.elementor-210 .elementor-element.elementor-element-9de89fc {
    --display: flex;
    --justify-content: flex-start;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px
}

.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight)
}

.elementor-210 .elementor-element.elementor-element-606f63b {
    text-align: left
}

.elementor-210 .elementor-element.elementor-element-606f63b .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Montserrat", Sans-serif;
    font-weight: 600
}

.elementor-widget-divider {
    --divider-color: var( --e-global-color-secondary)
}

.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight)
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary)
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary)
}

.elementor-210 .elementor-element.elementor-element-4750257 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent);
    --divider-border-width: 1px
}

.elementor-210 .elementor-element.elementor-element-4750257 .elementor-divider-separator {
    width: 60%;
    margin: 0 auto;
    margin-left: 0
}

.elementor-210 .elementor-element.elementor-element-4750257 .elementor-divider {
    text-align: left;
    padding-block-start: 2px;
    padding-block-end: 2px
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight)
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text)
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent)
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-accent)
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-accent)
}

.elementor-widget-nav-menu {
    --e-nav-menu-divider-color: var( --e-global-color-text)
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight)
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu .elementor-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--main .elementor-item:hover,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown a,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-menu-toggle {
    color: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown {
    background-color: #FFF0
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown a:hover,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown a.highlighted,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-menu-toggle:hover {
    color: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown a:hover,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #FFF0
}

.elementor-210 .elementor-element.elementor-element-38fafa3 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-accent);
    background-color: #FFF0
}

.elementor-210 .elementor-element.elementor-element-423c195 {
    --display: flex;
    --justify-content: flex-start;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px
}

.elementor-210 .elementor-element.elementor-element-4fc5e35 {
    text-align: left
}

.elementor-210 .elementor-element.elementor-element-4fc5e35 .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Montserrat", Sans-serif;
    font-weight: 600
}

.elementor-210 .elementor-element.elementor-element-1da04c2 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent);
    --divider-border-width: 1px
}

.elementor-210 .elementor-element.elementor-element-1da04c2 .elementor-divider-separator {
    width: 60%;
    margin: 0 auto;
    margin-left: 0
}

.elementor-210 .elementor-element.elementor-element-1da04c2 .elementor-divider {
    text-align: left;
    padding-block-start: 2px;
    padding-block-end: 2px
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu .elementor-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--main .elementor-item:hover,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown a,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-menu-toggle {
    color: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown {
    background-color: #FFF0
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown a:hover,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown a.highlighted,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-menu-toggle:hover {
    color: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown a:hover,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #FFF0
}

.elementor-210 .elementor-element.elementor-element-ffde0b5 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-accent);
    background-color: #FFF0
}

.elementor-210 .elementor-element.elementor-element-e0da940 {
    --display: flex;
    --justify-content: flex-start;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px
}

.elementor-210 .elementor-element.elementor-element-1729941 .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Montserrat", Sans-serif;
    font-weight: 600
}

.elementor-210 .elementor-element.elementor-element-2be295b {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent);
    --divider-border-width: 1px
}

.elementor-210 .elementor-element.elementor-element-2be295b .elementor-divider-separator {
    width: 60%;
    margin: 0 auto;
    margin-left: 0
}

.elementor-210 .elementor-element.elementor-element-2be295b .elementor-divider {
    text-align: left;
    padding-block-start: 2px;
    padding-block-end: 2px
}

.elementor-210 .elementor-element.elementor-element-37b2d61 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 30px;
    --grid-column-gap: 15px;
    --grid-row-gap: 0px
}

.elementor-210 .elementor-element.elementor-element-37b2d61 .elementor-widget-container {
    text-align: left
}

.elementor-210 .elementor-element.elementor-element-37b2d61 .elementor-social-icon {
    background-color: #FFF0;
    --icon-padding: 0em
}

.elementor-210 .elementor-element.elementor-element-37b2d61 .elementor-social-icon i {
    color: var(--e-global-color-accent)
}

.elementor-210 .elementor-element.elementor-element-37b2d61 .elementor-social-icon svg {
    fill: var(--e-global-color-accent)
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var(--e-global-color-text)
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary)
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary)
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var(--e-global-color-secondary)
}

.elementor-210 .elementor-element.elementor-element-4d78424 .elementor-icon-list-icon i {
    color: var(--e-global-color-accent);
    transition: color 0.3s
}

.elementor-210 .elementor-element.elementor-element-4d78424 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-accent);
    transition: fill 0.3s
}

.elementor-210 .elementor-element.elementor-element-4d78424 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-4d78424 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-4d78424 .elementor-icon-list-item>a {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-210 .elementor-element.elementor-element-4d78424 .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color 0.3s
}

.elementor-210 .elementor-element.elementor-element-851a97f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 50px;
    --padding-right: 50px
}

.elementor-210 .elementor-element.elementor-element-851a97f:not(.elementor-motion-effects-element-type-background),
.elementor-210 .elementor-element.elementor-element-851a97f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7
}

.elementor-210 .elementor-element.elementor-element-851a97f,
.elementor-210 .elementor-element.elementor-element-851a97f::before {
    --border-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-6322bca {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary)
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary)
}

.elementor-210 .elementor-element.elementor-element-8afb12d {
    text-align: center;
    color: var(--e-global-color-text);
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500
}

.elementor-210 .elementor-element.elementor-element-8a9d7b4 {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-210 .elementor-element.elementor-element-3919606>.elementor-widget-container {
    background-color: #154A5C;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / .5)
}

.elementor-210 .elementor-element.elementor-element-3919606.ha-has-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s
}

.elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-icon i {
    color: var(--e-global-color-accent);
    transition: color 0.3s
}

.elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-accent);
    transition: fill 0.3s
}

.elementor-210 .elementor-element.elementor-element-3919606 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-icon {
    padding-right: 0
}

.elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-item>a {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color 0.3s
}

@media(min-width:768px) {
    .elementor-210 .elementor-element.elementor-element-abe1ad0 {
        --width: 100%
    }
    .elementor-210 .elementor-element.elementor-element-9de89fc {
        --width: 32%
    }
    .elementor-210 .elementor-element.elementor-element-423c195 {
        --width: 32%
    }
    .elementor-210 .elementor-element.elementor-element-e0da940 {
        --width: 32%
    }
    .elementor-210 .elementor-element.elementor-element-851a97f {
        --width: 100%
    }
}

@media(max-width:1024px) {
    .elementor-210 .elementor-element.elementor-element-6563ed9 {
        --gap: 0px 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
}

@media(max-width:767px) {
    .elementor-210 .elementor-element.elementor-element-c3e7dd1 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-210 .elementor-element.elementor-element-6563ed9 {
        --padding-top: 30px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px
    }
    .elementor-210 .elementor-element.elementor-element-606f63b {
        text-align: center
    }
    .elementor-210 .elementor-element.elementor-element-4750257 .elementor-divider {
        text-align: center
    }
    .elementor-210 .elementor-element.elementor-element-4750257 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0
    }
    .elementor-210 .elementor-element.elementor-element-4fc5e35 {
        text-align: center
    }
    .elementor-210 .elementor-element.elementor-element-1da04c2 .elementor-divider {
        text-align: center
    }
    .elementor-210 .elementor-element.elementor-element-1da04c2 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0
    }
    .elementor-210 .elementor-element.elementor-element-1729941 {
        text-align: center
    }
    .elementor-210 .elementor-element.elementor-element-2be295b .elementor-divider {
        text-align: center
    }
    .elementor-210 .elementor-element.elementor-element-2be295b .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0
    }
    .elementor-210 .elementor-element.elementor-element-37b2d61 .elementor-widget-container {
        text-align: center
    }
    .elementor-210 .elementor-element.elementor-element-851a97f {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-210 .elementor-element.elementor-element-8afb12d>.elementor-widget-container {
        padding: 0 0 0 0
    }
    .elementor-210 .elementor-element.elementor-element-8a9d7b4 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-210 .elementor-element.elementor-element-3919606 {
        width: var(--container-widget-width, 50px);
        max-width: 50px;
        --container-widget-width: 50px;
        --container-widget-flex-grow: 0
    }
    .elementor-210 .elementor-element.elementor-element-3919606>.elementor-widget-container {
        margin: -100px -10px 0 10px;
        padding: 15px 15px 15px 15px;
        border-radius: 50% 50% 50% 50%
    }
    .elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(0px/2)
    }
    .elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(0px/2)
    }
    .elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(0px/2);
        margin-left: calc(0px/2)
    }
    .elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-0px/2);
        margin-left: calc(-0px/2)
    }
    body.rtl .elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-0px/2)
    }
    body:not(.rtl) .elementor-210 .elementor-element.elementor-element-3919606 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-0px/2)
    }
}

a {
    font-weight: 600
}