.elementor-198 .elementor-element.elementor-element-10a8cdc {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-around;
    --align-items: center;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 999
}

.elementor-198 .elementor-element.elementor-element-b8a6888 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 7px;
    --padding-bottom: 07px;
    --padding-left: 50px;
    --padding-right: 50px
}

.elementor-198 .elementor-element.elementor-element-b8a6888:not(.elementor-motion-effects-element-type-background),
.elementor-198 .elementor-element.elementor-element-b8a6888>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F4F4F4
}

.elementor-198 .elementor-element.elementor-element-b8a6888,
.elementor-198 .elementor-element.elementor-element-b8a6888::before {
    --border-transition: 0.3s
}

.elementor-198 .elementor-element.elementor-element-b8a6888.e-con {
    --align-self: center
}

.elementor-198 .elementor-element.elementor-element-2c9a1f0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-198 .elementor-element.elementor-element-c30ca4a {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 10px;
    --grid-row-gap: 0px
}

.elementor-198 .elementor-element.elementor-element-c30ca4a .elementor-widget-container {
    text-align: center
}

.elementor-198 .elementor-element.elementor-element-c30ca4a .elementor-social-icon {
    background-color: #fff0;
    --icon-padding: 0em
}

.elementor-198 .elementor-element.elementor-element-c30ca4a .elementor-social-icon i {
    color: var(--e-global-color-primary)
}

.elementor-198 .elementor-element.elementor-element-c30ca4a .elementor-social-icon svg {
    fill: var(--e-global-color-primary)
}

.elementor-198 .elementor-element.elementor-element-bd34b8a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var(--e-global-color-text)
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary)
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary)
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var(--e-global-color-secondary)
}

.elementor-198 .elementor-element.elementor-element-84b537f.elementor-element {
    --align-self: center
}

.elementor-198 .elementor-element.elementor-element-84b537f .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
    transition: color 0.3s
}

.elementor-198 .elementor-element.elementor-element-84b537f .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
    transition: fill 0.3s
}

.elementor-198 .elementor-element.elementor-element-84b537f {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-198 .elementor-element.elementor-element-84b537f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-198 .elementor-element.elementor-element-84b537f .elementor-icon-list-item>a {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-198 .elementor-element.elementor-element-84b537f .elementor-icon-list-text {
    color: #0C3A4A;
    transition: color 0.3s
}

.elementor-198 .elementor-element.elementor-element-b322791.elementor-element {
    --align-self: center
}

.elementor-198 .elementor-element.elementor-element-b322791 .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
    transition: color 0.3s
}

.elementor-198 .elementor-element.elementor-element-b322791 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
    transition: fill 0.3s
}

.elementor-198 .elementor-element.elementor-element-b322791 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-198 .elementor-element.elementor-element-b322791 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-198 .elementor-element.elementor-element-b322791 .elementor-icon-list-item>a {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-198 .elementor-element.elementor-element-b322791 .elementor-icon-list-text {
    color: #0C3A4A;
    transition: color 0.3s
}

.elementor-198 .elementor-element.elementor-element-bddfcbf {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --background-transition: 0.3s;
    border-style: none;
    --border-style: none;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 99
}

.elementor-198 .elementor-element.elementor-element-bddfcbf:not(.elementor-motion-effects-element-type-background),
.elementor-198 .elementor-element.elementor-element-bddfcbf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff0;
    background-image: linear-gradient(180deg, var(--e-global-color-accent) 0%, var(--e-global-color-accent) 100%)
}

.elementor-198 .elementor-element.elementor-element-bddfcbf,
.elementor-198 .elementor-element.elementor-element-bddfcbf::before {
    --border-transition: 0.3s
}

.elementor-198 .elementor-element.elementor-element-bddfcbf.e-con {
    --align-self: center
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-198 .elementor-element.elementor-element-368ad6f {
    width: var(--container-widget-width, 240px);
    max-width: 240px;
    --container-widget-width: 240px;
    --container-widget-flex-grow: 0;
    text-align: center
}

.elementor-198 .elementor-element.elementor-element-368ad6f>.elementor-widget-container {
    padding: 0 0 0 0
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight)
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text)
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent)
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-accent)
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-accent)
}

.elementor-widget-nav-menu {
    --e-nav-menu-divider-color: var( --e-global-color-text)
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight)
}

.elementor-198 .elementor-element.elementor-element-78a941e {
    width: auto;
    max-width: auto;
    --e-nav-menu-horizontal-menu-item-margin: calc( 0px / 2)
}

.elementor-198 .elementor-element.elementor-element-78a941e.elementor-element {
    --align-self: center
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-menu-toggle {
    margin: 0 auto;
    background-color: var(--e-global-color-accent)
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu .elementor-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main .elementor-item:hover,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main .elementor-item:focus {
    color: #fff
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-secondary)
}

.elementor-198 .elementor-element.elementor-element-78a941e .e--pointer-framed .elementor-item:before,
.elementor-198 .elementor-element.elementor-element-78a941e .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-secondary)
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-accent)
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 0
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-item:before {
    border-radius: 10px
}

.elementor-198 .elementor-element.elementor-element-78a941e .e--animation-shutter-in-horizontal .elementor-item:before {
    border-radius: 10px 10px 0 0
}

.elementor-198 .elementor-element.elementor-element-78a941e .e--animation-shutter-in-horizontal .elementor-item:after {
    border-radius: 0 0 10px 10px
}

.elementor-198 .elementor-element.elementor-element-78a941e .e--animation-shutter-in-vertical .elementor-item:before {
    border-radius: 0 10px 10px 0
}

.elementor-198 .elementor-element.elementor-element-78a941e .e--animation-shutter-in-vertical .elementor-item:after {
    border-radius: 10px 0 0 10px
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown a,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-menu-toggle {
    color: var(--e-global-color-text)
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown {
    background-color: #FFFFFFDB;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-secondary);
    border-radius: 05px 05px 05px 05px
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown a:hover,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown a.highlighted,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-menu-toggle:hover {
    color: var(--e-global-color-accent)
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown a:hover,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-secondary)
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-text);
    background-color: #FFFFFFDB
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown .elementor-item,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 05px;
    border-top-right-radius: 05px
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 05px;
    border-bottom-left-radius: 05px
}

.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 20px !important
}

.elementor-198 .elementor-element.elementor-element-78a941e div.elementor-menu-toggle {
    color: var(--e-global-color-text)
}

.elementor-198 .elementor-element.elementor-element-78a941e div.elementor-menu-toggle svg {
    fill: var(--e-global-color-text)
}

@media(min-width:768px) {
    .elementor-198 .elementor-element.elementor-element-2c9a1f0 {
        --width: 48%
    }
    .elementor-198 .elementor-element.elementor-element-bd34b8a {
        --width: 48%
    }
}

@media(max-width:767px) {
    .elementor-198 .elementor-element.elementor-element-b8a6888 {
        --justify-content: center;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-198 .elementor-element.elementor-element-2c9a1f0 {
        --width: 48%;
        --justify-content: center;
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-198 .elementor-element.elementor-element-bd34b8a {
        --width: 48%;
        --justify-content: center;
        --padding-top: 10px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-198 .elementor-element.elementor-element-bddfcbf {
        --justify-content: space-evenly
    }
    .elementor-198 .elementor-element.elementor-element-368ad6f {
        width: var(--container-widget-width, 60%);
        max-width: 60%;
        --container-widget-width: 60%;
        --container-widget-flex-grow: 0
    }
    .elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown .elementor-item,
    .elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 16px
    }
    .elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-198 .elementor-element.elementor-element-78a941e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important
    }
    .elementor-198 .elementor-element.elementor-element-78a941e {
        --nav-menu-icon-size: 20px
    }
    .elementor-198 .elementor-element.elementor-element-78a941e .elementor-menu-toggle {
        border-width: 0;
        border-radius: 0
    }
}